@font-face {
    font-family: 'font';
    src: url('font.ttf') format('truetype');
}

body { 
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    font-family: 'font';
    background-color: #F799D1;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-family: 'font';
    font-size: 3em;
}

header nav ul {
    font-family: 'font';
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

p { 
    font-family: 'font'; }


h2{
    font-family: 'font';
}

h3{
    font-family: 'font';
}

footer {
    font-family: 'font';
    background-color: #F0E2B6;
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}

.popular {
    background-color: #fff;
    padding: 30px;
    text-align: center;
}

.popular h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.carousel {
    display: flex;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    gap: 107px;
    padding: 20px;
    scrollbar-width: none; 
}

.carousel::-webkit-scrollbar {
    display: none;
}

.card {
    flex: 0 0 300px; 
    scroll-snap-align: center; 
    background-color: #FAD4F8;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: left;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    font-size: 1.5em;
}

.card p {
    font-size: 1em;
    margin-top: 10px;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background-color: #6B0426;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.card a:hover {
    background-color: #F0B6C9;
}
