@font-face {
    font-family: 'font';
    src: url('font.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'font';
    background-color: #f5f5f5;
}

header {
    background-color: #F799D1;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5em;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: beige;
    text-decoration: none;
    font-size: 1.2em;
}

.imagen-integral {
    width: 150px;
    height: auto;
    transition: transform 0.3s ease; 
}

.imagen-integral:hover {
    transform: scale(1.2); 
}

.blur-container {
    position: relative;
    padding: 30px;
    background-color: rgba(245, 241, 185, 0.8); 
    backdrop-filter: blur(8px); 
    border-radius: 15px;
    margin: 50px auto;
    max-width: 900px;
    text-align: center;
}

.blur-container h2 {
    font-size: 2em;
    color: #333;
}

.blur-container p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
}

.history {
    text-align: center;
    padding: 30px;
    background-color: #f9f9f9;
}

.intro {
    text-align: center;
    padding: 50px;
    background-image: url('integral.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.artwork {
    text-align: center;
    padding: 30px;
    margin: 50px auto;
    max-width: 900px;
}

.artwork h2 {
    font-size: 2em;
    color: #333;
}

.artwork p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

.artwork-img {
    width: 30%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
}

.artwork-img img:hover {
    transform: scale(1.05); 
}

.imagen-integral {
    width: 150px;
    height: auto;
    margin-bottom: -10px; 
}

.intro {
    padding: 20px;
    background-color: #f5f5f5;
}

.intro h2 {
    font-size: 2.5rem;
    color: #333;
}

.intro p {
    font-size: 1.2rem;
    color: #666;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding-top: 20px;
}

.imagen img {
    width: 30%; 
    height: auto;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; 
}

.imagen img:hover {
    transform: scale(1.05); 
}

.galeria .imagen img {
    width: 100%;      
    height: 250px;   
    object-fit: cover; 
}

.imagen-historia {
    width: 30%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
}

.imagen-historia img:hover {
    transform: scale(1.05); 
}

footer {
    font-family: 'font';
    background-color: #FFC2EC;
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}